:host {
    .form {
        display: flex;
        gap: 12px;
        justify-content: start;
        align-items: center;
    }
    input {
        width: 36px;
    }
    .field-name {
        width: 200px;
    }
    .btn-custom-border {
        border-color: #eae9eb !important;  /* Purple border */
        color: rgb(101, 99, 99);
    }
    .btn-custom-border:hover {
        color: rgb(249, 249, 249);
    }
    .search {
        width: 300px;
    }
    .search-input {
        border: 1px solid rgb(197, 194, 194);
        border-radius: 6px;
        width: 48px;
    }
    .form-select {
        width: 45%;
    }
    .pick-image {
        color: rgb(5, 5, 244);
        cursor: pointer;
    }
    .pick-image:hover {
        color: rgb(12, 4, 116);
    }

    .display-cereal {
        position: relative;
    }

    .image-container-shadow {
        position: absolute;
        top:0;
        left:0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 300px;
        overflow: hidden;
    }
}