<div class="container mt-4">
  <div class="card shadow-sm">
    <div class="card-header bg-white py-3 d-flex justify-content-between align-items-center">
      <div>
        <h5 class="mb-0 fw-bold">Cereal List</h5>
      </div>
      <div class="btn-group">
        <button class="btn btn-sm btn-outline-primary" (click)="addCereal()">
          {{ addNewCereal ? 'Save' : 'Add Cereal' }}
        </button>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-hover table-striped mb-0">
          <thead class="table-light">
            <tr>
              @for (title of titles; track title) {
                <th>{{ title }}</th>
              }
            </tr>
          </thead>
          <tbody>
            @for (cereal of cereals; track cereal.id) {
              <tr>
                <td>{{ $index }}</td>
                @for (titleValue of titleValues; track titleValue) {
                  <td>
                    <input
                      class="form-control w-full border-0 bg-transparent p-0"
                      [class.bg-light]="!isFocused"
                      (focus)="isFocused = true"
                      (blur)="isFocused = false"
                      [class.w-auto]="titleValue.toString() === 'name'"
                      type="text"
                      [value]="cereal[titleValue]"
                      (change)="updateCereal($event, cereal.id, titleValue.toString())"
                    />
                  </td>
                }

                <!-- <td>
                  <button class="btn btn-sm btn-primary me-1">Edit</button>
                  <button class="btn btn-sm btn-danger">Delete</button>
                </td> -->
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- @if (addNewCereal) {
  <tr>
    <form [formGroup]="cerealForm">
      <td>{{ cereals.length }}</td>
      @for (titleValue of titleValues; track titleValue) {
        <td>
          <input class="form-control w-full p-0" type="text" [formControlName]="titleValue" />
        </td>
      }
    </form>
  </tr>
} -->
